{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row m-2 headers">
    <div class="col-5">
        Welcome {{ request.user.username }}
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div class="cls">
    <form action="{% url 'portal:home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group presfile">
            <label for="id_presentation">Your presentation file (required):</label>
            <br/>
            {{ form.presentation }}
            {{ form.presentation.errors }}
            <br>
            <p>Max file size: 100 mB. <br> Supported file types: pdf/ppt/pptx/ppts/pptsx</p>
        </div>
        <div class="form-group">
            <label for="id_submission">Link to your code: (optional)</label>
            {{ form.submission }}
            {{ form.submission.errors }}
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}

{% block notif %}
{% if show_msg %}

<div aria-live="polite" style="color: white !important; position: absolute; top: 0; right: 0;">
    <div class="toast" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">Megathon Submissions</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Your submission was successful.
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toast').toast("show");
    });
</script>

{% endif %}
{% endblock %}
