{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'portal/css/login.css' %}">
</head>
<body>
  <div class="container text-center full-page">
    <div class="row h-100 w-95">
      <div class="col-md-5 col-sm-12 left">
        <!-- megathon logo -->
        <div class="logo-container">
          <img src="{% static 'portal/img/megathon_logo.png' %}" alt="Megathon" class="logo">
          <span class="logo-text">megathon.in</span>
          <span class="logo-text">meet · ideate · hack</span>
        </div>
      </div>
      <div class="col-md-2 separator"></div>
      <div class="col-md-5 col-sm-12 right">
        <div class="logo-container">
          <img src="{% static 'portal/img/megathon_logo.png' %}" alt="Megathon" class="logo">
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <script>
    window.addEventListener("load", function(){
      var inputs = document.querySelectorAll("input");

      for(let input of inputs){
        input.classList.add("form-control");
      }
    });
  </script>
</body>
</html>
